---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: CK8sControlPlane
metadata:
  name: {{ include "openstack-ck8s-cluster.componentName" (list . "control-plane") }}
  labels: {{ include "openstack-ck8s-cluster.componentLabels" (list . "control-plane") | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  machineTemplate:
    metadata:
      labels: {{ include "openstack-ck8s-cluster.componentSelectorLabels" (list . "control-plane") | nindent 8 }}
    infrastructureTemplate:
      kind: OpenStackMachineTemplate
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      name: {{ include "openstack-ck8s-cluster.controlplane.machinetemplate.name" . }}
      namespace: {{ .Release.Namespace }}
    {{- with .Values.ck8sControlPlane.machineTemplate }}
    nodeDrainTimeout: {{ .nodeDrainTimeout }}
    nodeVolumeDetachTimeout: {{ .nodeVolumeDetachTimeout }}
    nodeDeletionTimeout: {{ .nodeDeletionTimeout }}
    {{- end }}
  remediationStrategy: {{ toYaml .Values.ck8sControlPlane.remediationStrategy | nindent 4 }}
  replicas: {{ .Values.controlPlane.machineCount }}
  spec:
    {{- if .Values.addons.openstack.k8sKeystoneAuth.enabled }}
    files:
      - path: /var/snap/k8s/common/args/conf.d/k8s-auth-token-webhook.conf
        content: |
          apiVersion: v1
          kind: Config
          clusters:
          - cluster:
              insecure-skip-tls-verify: true
              server: https://127.0.0.1:8443/webhook
            name: webhook
          users:
          - name: webhook
          contexts:
          - context:
              cluster: webhook
              user: webhook
            name: webhook
          current-context: webhook
    postRunCommands:
      - echo "--authentication-token-webhook-config-file=/var/snap/k8s/common/args/conf.d/k8s-auth-token-webhook.conf" >> /var/snap/k8s/common/args/kube-apiserver
      - sudo snap restart k8s.kube-apiserver
    {{- end }}
    {{- if and .Values.proxy .Values.proxy.httpProxy }}
    httpProxy: {{ .Values.proxy.httpProxy }}
    {{- end }}
    {{- if and .Values.proxy .Values.proxy.httpsProxy }}
    httpsProxy: {{ .Values.proxy.httpsProxy }}
    {{- end }}
    {{- if and .Values.proxy .Values.proxy.noProxy }}
    noProxy: {{ .Values.proxy.noProxy }}
    {{- end }}
    controlPlane:
      cloudProvider: external
      {{- if .Values.addons.openstack.k8sKeystoneAuth.enabled }}
      extraKubeAPIServerArgs:
        --authorization-webhook-config-file: /var/snap/k8s/common/args/conf.d/k8s-auth-token-webhook.conf
        --authorization-mode: Node,RBAC,Webhook
      {{- end }}
    extraKubeletArgs:
      --provider-id: openstack:///{{ "{{" }} instance_id {{ "}}" }}
  version: v{{ .Values.kubernetesVersion | trimPrefix "v" }}
